/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/css3";
@import "compass/reset";
@import "compass/typography/links";

/*Start SUSY Grid */
@import "susy";
$total-columns 	:	12;
$column-width	:	3em;
$gutter-width	:	1.5em;
$grid-padding	:	1em; 
/* End SUSY Grid */

@import "partials/normalize"; 
@import "partials/utilities";


$bluecontrast	:	#304959;
$sectionaccent	:	#FDFFFE;
$footerandwork	:	#0F2D40;
$gray			:	#ede8df;
$yellowvisited	:	#CFB705;

$print			:	#21638C;
$digital		:	#3090CC;
$pr 			:	#12364D;

@font-face	{
	font-family: icomoon;
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg') format('svg');
}

html	{
	font-family: 'Helvetica';
}

p	{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	line-height: 1.2em;
}

section	{
	min-height: 20em;
	position: relative;
	top: 3em;
	&:nth-child(2n)	{
		background-color: $sectionaccent;
	}
}

ul	{
	padding-left: 0;
}

h2	{
	 margin: .5em 0;
}

.socialnav	{
	font-size: 1.5em;
	position: relative;
	top: -.5em;
}

nav	{
	position: fixed;
	z-index: 100;
	opacity: .99;
	height: 3em;
	background-color: white;
	@include span-columns(12,12);
	.sitenav	{
		@include span-columns(4 omega,12);
		text-align: right;
		li {
			display: inline;
			padding-left: 1em;
			margin: auto;
		}
	}
	.socialnav	{
		font-family: icomoon;
		
		@include span-columns(8,12);
		li {
			display: inline;
			color: $footerandwork;
		}
	}
}

#homepageimage	{
	img	{
		@include span-columns(12,12);
		margin-bottom: 5em;
	}
}

.container	{
	@include container;
}

.subheading	{
	text-align: center;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	padding-bottom: 1em;
	font-size: 4em;
}

#about	{
	padding: 3em 0em;
	article	{
		@include span-columns(8,12);
		p {
			padding-bottom: 1em;
			text-indent: 2em;
		}
	}
	#trek	{
		@include span-columns(4 omega, 12);
		margin-top: 3em;
		ul	{
			li {
				color: $yellowvisited;
				padding-left: 1em;
			}
		}
	}
	#globe	{
		svg	{
			@include border-radius(10%);
		}
		clear: both;
		@include span-columns(12,12);
		.stroke {
		  fill: none;
		  stroke: #000;
		  stroke-width: 3px;
		}
		
		.graticule {
		  fill: none;
		  stroke: #0F2D40;
		  stroke-width: .5px;
		  stroke-opacity: .5;
		}
		
		.fill {
		  fill: #fff;
		}
		.land {
		  fill: $footerandwork;
		}
		.america	{
			fill: black;
		}
		.visited	{
			fill: $yellowvisited;
		}
		
		.boundary {
		  fill: none;
		  stroke: #fff;
		  stroke-width: 1px;
		}
		.stroke {
		  fill: none;
		  stroke: #000;
		  stroke-width: 3px;
		}
		
		.fill {
		  fill: #fff;
		}
	}
}

#work	{
	padding: 3em 0em;
	li {
		padding-bottom: .5em;
		padding-right: .5em;
		display: inline;
	}
	h2	{
		text-align: center;
	}
	.item a {
		color: white;
	}
	.print {
		max-width: 300px;
	}
	.storify {
		max-width: 30em;
		max-height: 20em;
		overflow: auto;
	}
	.multimedia iframe {
		@media (max-width: 732px) {
			max-width: 100%;
		}
	}
}

.item {
	padding: 1em;
	margin: .5em;
	color: white;
}

.print {
	background-color: $print;
}

.multimedia {
	background-color: $digital;
	img {
		width: 100%;
	}
}

.pr {
	background-color: $pr;
}

.print, .multimedia, .pr {
	border-radius: 10px;
	&:hover {
		@include single-box-shadow($pr);
	}
}

.printbutton {
	a {
		@include link-colors($print, $print, $print, $print, $print)
	}
}

.multimediabutton {
	a {
		@include link-colors($digital, $digital, $digital, $digital, $digital)
	}
}

.prbutton {
	a {
		@include link-colors($pr, $pr, $pr, $pr, $pr)
	}
}

#madibio	{
	#biopic	{
		img {
			@include span-columns(10,12);
			@include squish(1,1);
			padding-bottom: 3em;
		}
		padding-top: 3em;
	}
	p	{
		padding-bottom: 1em;
		text-indent: 2em;
	}
	article	{
		padding-bottom: 3em;
	}
}

a	{
	@include link-colors(black, black, black, black, $gray);
	text-decoration: none;
}

@mixin gallery-background {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main	{
	.gallery 	{
		@include gallery-background;
		h2 {
			margin-top: 0;
		}
		.caption {
			background: rgba(0,0,0, .6);
			color: white;
			position: absolute;
			bottom: 1em;
			left: 1em;
			padding: 1em;
			max-width: 50%;
		}
	}
	h2	{
		@include span-columns(12,12);
		font-size: 2em;	
		@include clearfix;
		-webkit-margin-before: 0.5em;
		-webkit-margin-after: 0.5em;
	}
	p	{
		@include span-columns(12,12);
		@include clearfix;
	}
	h1	{
		@include span-columns(12,12);
		@include clearfix;
		font-size: 5em;
		text-transform: uppercase;
		text-align: center;
		margin-top: 3em;
	}
	#frontpagetext	{
		 text-align: center; 
		 line-height: 1.5em;
	}
}

footer	{
	color: $gray;
	min-height: 10em;
	position: relative;
	top: 3em;
	background-color: $footerandwork;
	#footerleft	{
		@include span-columns(6,12);
	}
	#footerright	{
		@include omega;
		font-family: icomoon;
	}
	.socialnav	{
		top: -1.75em;
	}
	ul	{
		padding-top: 5em;
		li {
			display: inline;
			padding-right: .5em;
		}
		margin: 0;
	}
	a {
		@include link-colors($gray, $gray, $gray, $gray, $gray)
	}
}

@media (max-width: 860px)	{
	#about	{
		article	{
			@include span-columns(12,12);
		}
		#trek	{
			@include span-columns(12,12);
			@include remove-omega;
		}
	}
	nav	{
		.sitenav	{
			@include span-columns(7,12);
			@include omega;
		}
		.socialnav	{
			@include span-columns(5,12);
		}
	}
}

@media (max-width: 732px)	{
	#socialmedia	{					
		margin-left: 1em;
		margin-right: 1em;
	}
	#footerleft	{
		ul	{
			li {
				display: block;
			} 
		}
	}
	nav	{
		font-size: .8em;
	}
	.main	{
		.gallery	{
			@include span-columns(12,12);
		}
		h1	{
			font-size: 2em;
		}
		#frontpagetext	{
			display: block;
			font-size: .8em;
			@include span-columns(10,12);
			@include squish(1,1);
		}
	}
	
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
